<!-- IMPORT MODULE DETAIL -->
<!-- 

	Module : 	CategoryList
	
	Links : 	CategoryEdit
					/categorys/{id}
.				
	
	Nesteds : 	
				
-->
<!-- /IMPORT MODULE DETAIL -->
<div ng-controller="CategoryListController">
	
	<h1>CategoryList</h1>
	
	<!-- SEARCH FORM -->
	<div class="well">
	    <form name="form_search" class="container-fluid">
			<div class="row">
				<div class="col-sm-3">
					<label for="category">Category</label>
				</div>
				<div class="col-sm-9 form-group" >
					<input type="text" ng-model="search.category" class="form-control" name="category" id="category" >
				</div>
			</div>
		</form>
	</div>
	
	<!-- TABLE -->
	<table class="table table-condensed table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th>_id</th>
				<th>category</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in list | filter: {  category:search.category,  }">
				<td ng-bind="item._id" ng-link="/categorys/{{item._id}}"></td>
				<td ng-bind="item.category"></td>
				<td>
					<div class="btn btn-xxs" >
						<i data-toggle="modal" data-target="#removeModal" data-id="{{item._id}}" class="glyphicon glyphicon-trash"></i>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	
	<!-- BUTTON -->
	<button class="btn btn-primary" ng-link="/categorys/new">New</button>
	
	<!-- MODAL REMOVE -->
	<div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Delete item</h4>
				</div>
				<div class="modal-body">
					Do you want confirm delete? 
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="remove()">YES</button>
				</div>
			</div>
		</div>
	</div>
	
</div>